*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li{
  list-style: none;
}
.w-40{
  width: 60%;
}
.space-between{
  justify-content: space-between;
}
img{
  width: 100%;
}
.pb-small{
  padding-bottom: 1rem;
}
.w-100{
  width: 100%;
}